/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /*nav bar section*/
    #my_nav {
        text-align: center;
    }

    #my_nav form {
        margin-left: 0;
        margin-top: 30px !important;
    }

    #my_nav form input {
        width: 70%;
    }

    nav ul li{
        padding-top: 30px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}